<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About me</title>
</head>
<body style="background:grey">
    <div style="text-align: center">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores aut eum nesciunt quibusdam quos unde voluptatem voluptatibus? Asperiores, nulla.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda, at consectetur consequatur consequuntur corporis deleniti dolore doloribus inventore, ipsa laboriosam maiores molestias nostrum odit optio possimus, rem rerum saepe sunt voluptate? Ad in molestiae nihil provident quod repellendus sit!</p>
        <p><a href="{{ url_for('index')}}">..back to home</a></p>
        <p><a href="{{ url_for('contact')}}">..сontact to me</a></p>
        <p><a href="{{ url_for('gallery')}}">..gallery</a></p>
    </div>
</body>
</html>